$primaryColor:#7F8688;
$secondaryColor:#929D9E;
$subtle:#F3E367;
h1,
a {
    color: $primaryColor;
}

.Button,
.Form__control {
    border-color: $subtle;
}

.Button {
    color: $primaryColor;
}

.Button {
    &:focus,
    &:hover {
        background: $subtle;
        color: #fff;
    }
}

.Form__control:focus {
    border-color: #ddd;
}